#sidebar{
    float: left;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 17%;
    height: 200px;
    color: white;
    text-align: center;
}
#sidebar h3{
    border: 1px solid red;
}
body{
    background: url("https://thumbs.dreamstime.com/b/abstract-geometric-hexagonal-shape-medicine-science-background-concept-series-modern-space-news-studio-lens-flare-map-172698591.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#results{
    float: right;
    border: 1px solid pink;
    width: 80%;
    color: white;
}
img{
    width: 100px;
    height: 100px;
}
.news{
    display: flex;
}